@import '../../vars.css';

.about_section{
   color: var(--color-text);
   background-color: rgba(12, 12, 12, 0.6);
   padding: 2vw 3vw;
   margin: 0vw 2vw;
   margin-top: 5vw;
   border-radius: 0.9vw;
   /* border: 3px solid green; */
}

.about_title{
   font-size: 2.2rem;
   margin-bottom: 2vw;
   letter-spacing: 1.75px;
}

.about_content{
   display: flex;
   justify-content: space-between;
   gap: 1rem;
}

.about_img{
   max-inline-size: 40%;
   border: 3px solid white;
   /* width: 50%; */
   align-self: flex-start;
}

.about_ul{
   /* border: 3px solid blue; */
   display: flex;
   flex-direction: column;
   justify-content:space-between;
   gap: 0rem;
   /* padding: 2vw 0px; */
}

.about_li{
   /* border: 2px solid white; */
   list-style: none;
   display: flex;
   justify-content: space-between;
   gap: 0rem;
}

.li_img{
   /* border: 2px solid yellow; */
   align-self: flex-start;
   margin: auto;
}

.about_para{
   /* border: 2px solid greenyellow; */
   font-size: 1.1rem;
   font-weight: 500;
   /* line-height: 1.5; */
}

/* ---------------------------------------------- */
@media screen and (max-width: 600px){
    .about_title{
      font-size: 1.5rem;
    }

    .about_img{
      display: none;
   }

   .about_ul{
      gap: 1.5rem;
   }

   .about_para{
   /* border: 2px solid greenyellow; */
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.28;
   }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .about_title{
      font-size: 1.5rem;
    }

    .about_img{
      display: none;
   }

   .about_ul{
      gap: 1.1rem;
   }

   .about_para{
   /* border: 2px solid greenyellow; */
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.28;
      /* line-height: 1.7vw; */
   }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .about_title{
      font-size: 1.5rem;
    }

    .about_img{
      display: none;
   }

   .about_ul{
      gap: 1.1rem;
   }

   .about_para{
   /* border: 2px solid greenyellow; */
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.28;
      /* line-height: 1.7vw; */
   }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .about_title{
      font-size: 1.9rem;
    }

    .about_ul{
      gap: 0.8rem;
   }

   .about_para{
   /* border: 2px solid greenyellow; */
      font-size: 0.9rem;
      font-weight: 500;
      line-height: 1.7vw;
   }
}