@import '../../vars.css';

.TopBtnAncher{
    color: var(--color-text);
    text-decoration: none;
    background-color: var(--color-secondary);
    border: 2px solid white;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    text-align: center;
    line-height: 4rem;
    position: fixed;
    bottom: 3rem;
    right: 4rem;
}

/* -------------------------------- */
@media screen and (max-width: 600px){
    .TopBtnAncher{
        width: 2.9rem;
        height: 2.9rem;
        bottom: 2.5rem;
        right: 1rem;
        font-size: 0.8rem;
        line-height: 2.9rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .TopBtnAncher{
        width: 2.5rem;
        height: 2.5rem;
        bottom: 2.5rem;
        right: 1rem;
        font-size: 0.7rem;
        line-height: 2.5rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .TopBtnAncher{
        width: 3rem;
        height: 3rem;
        bottom: 2.5rem;
        right: 1.5rem;
        font-size: 1rem;
        line-height: 3rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .TopBtnAncher{
        width: 3.5rem;
        height: 3.5rem;
        bottom: 2.5rem;
        right: 1.5rem;
        font-size: 1rem;
        line-height: 3.5rem;
    }
}